#calculator{
    border: 1px solid rgb(208, 187, 187);

    border-radius: 5px;
    width: 200px;
    margin-top: 0%;
    margin-left: 40%;
    background-color: rgb(43, 11, 184);
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
}
#cal{
    
    
    margin-top: 7%;
    text-align: center;
    text-decoration:indigo;
    color: rgb(112, 42, 165)90, 147, 147);
    
}

.button{
    width: 45px;
    height: 45px;
     margin: 3px;
}